{% extends "base.html" %}
{% load static %}
{% load render_partial %}
{% load filters %}

{% block title %}
    home
{% endblock %}


{% block content %}

    <!-- Page Content -->
    <!-- Banner Starts Here -->
    <div class="main-banner header-text">
        <div class="container-fluid">
            <div class="owl-banner owl-carousel">
                {% for item in articles %}
                    <div class="item">
                        <img style="width: 480px; height: 450px;" src="{{ item.image.url }}" alt="{{ item.title }}">
                        <div class="item-content">
                            <div class="main-content">
                                <div class="meta-category">
                                    <span>{{ item.category.all.first }}</span>
                                </div>
                                <a href="{{ item.get_absolute_url }}"><h4>read more</h4></a>
                                <ul class="post-info">
                                    <li><a href="#">{{ item.author }}</a></li>
                                    <li><a href="#">{{ item.create_time }}</a></li>
                                    <li><a href="#">{{ item.comments.count }} comment</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>
    </div>
    <!-- Banner Ends Here -->


    <section class="blog-posts">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="all-blog-posts">
                        <div class="row">
                            <div class="col-lg-12">
                                {% for post in articles %}
                                    <div class="col-lg-12">
                                        <div class="blog-post">
                                            <div class="blog-thumb">
                                                <img src="{{ post.image.url }}" alt="">
                                            </div>
                                            <div class="down-content">
                                                <span>{{ post.category.all.first }}</span>
                                                <a href="{{ post.get_absolute_url }}"><h4>{{ post.title }}</h4></a>
                                                <ul class="post-info">
                                                    <li><a href="#">{{ post.author }}</a></li>
                                                    <li><a href="#">{{ post.create_time }}</a></li>
                                                    <li><a href="#">{{ post.comments.count }} comment</a></li>
                                                </ul>
                                                <p>{{ post.description|max_width:30 }}</p>
                                                <div class="post-options">
                                                    <div class="row">
                                                        <div class="col-6">
                                                            <ul class="post-tags">
                                                                <li><a href="{% url 'blog:like' post.slug post.pk %}"><i
                                                                class="fa fa-heart-o"></i></a>5
                                                        </li>
                                                            </ul>
                                                        </div>
                                                        <div class="col-6">
                                                            {% include 'includes/share.html' %}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="col-lg-12">
                                <div class="main-button">
                                    <a href="{% url 'blog:all_post' %}">View All Posts</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    {% render_partial "home_url:sidebar_url" %}
                </div>
            </div>
        </div>
    </section>


{% endblock %}

